anyio
asgiref>=3.8.1
dashscope
fastapi
instructor>=1.7.9
jinja2>=3.1.6
json5
jsonref>=1.1.0
mcp
nacos-sdk-python==1.0.0
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pydantic~=2.11.7
pytest
pytest-mock
requests
setuptools
starlette
typing_extensions
uvicorn
websockets
python-dotenv
python-multipart
pillow
azure-cognitiveservices-speech
aiohttp
urllib3 >= 2.1.0
streamlit
e2b-desktop
alibabacloud_ecd20200930
alibabacloud_eds_aic20230930
alibabacloud_appstream_center20210218
oss2
agentscope-runtime
mcp==1.8.0
dotenv
redis